$darkGray : #1A1A1D;
$lightGray: #4E4E50;
$darkBlue: #1D1E4E;
$lightBlue: #108690;
$mediumBlue: #2F3180;
$darkYellow: #FCCF14;
$lightYellow: #FFE169;
$veryLightBlue: #e8e4e0;
$transparedYellow: rgba(252, 206, 20, 0.2);
$transparedBlue: rgba(63, 64, 136, 0.2);
