Faker==13.15.0
Flask==2.0.2
Flask_Cors==3.0.10
gensim==4.2.0
hoggorm==0.13.3
matplotlib==3.5.2
nltk==3.7
numpy==1.21.6
opencv_python==4.2.0.32
pandas==1.4.3
pytesseract==0.3.9
requests==2.18.4
scikit_image==0.19.3
scikit_learn==1.1.1
scipy==1.7.3
skimage==0.0
spacy==3.4.0
sqlvalidator==0.0.19
